@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #020817;

  --color-card: #ffffff;
  --color-card-foreground: #020817;

  --color-primary: #0f172a;
  --color-primary-foreground: #f8fafc;

  --color-secondary: #f1f5f9;
  --color-secondary-foreground: #0f172a;

  --color-muted: #f8fafc;
  --color-muted-foreground: #64748b;

  --color-border: #e2e8f0;
  --color-input: #e2e8f0;
  --color-ring: #94a3b8;

  --color-destructive: #ef4444;
  --color-destructive-foreground: #f8fafc;

  --radius-xl: 0.75rem;
  --radius-lg: 0.5rem;
  --radius-md: 0.375rem;
  --radius-sm: 0.25rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground font-sans antialiased;
  }
}